<!DOCTYPE html>

<html>
<head>
<meta name="apple-touch-fullscreen" content="YES">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="pragram" content="no-cache">
<meta charset="utf-8">

<title>微信智能灯</title>

<script src="js/jquery-1.js"></script>
<script type="text/javascript">
var phoneWidth = parseInt(window.screen.width);
var phoneScale = phoneWidth / 640;
var phoneheight = parseInt(window.screen.height / phoneScale);

var ua = navigator.userAgent;
    if (/Android (\d+\.\d+)/.test(ua)) {
        var version = parseFloat(RegExp.$1);
        // andriod 2.3
        if (version > 2.3) {
            document
                    .write('<meta name="viewport" content="width=640, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');
            // andriod 2.3以上
        } else {
            document
                    .write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
        }
        // 其他系统
    } else {
        document
                .write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
    } 
</script>

<script type="text/javascript">
    var iheight = window.screen.height;
    if( iheight == 480){
     document.write('<link href="css/led.css" type="text/css" rel="stylesheet">'); 
    }else{
     document.write('<link href="css/led.css" type="text/css" rel="stylesheet">'); 
    };
</script>
</head>
<body>
    
<div style="display:none;">
<img src="img/ledbg.jpg" />  
</div>



<div class="wrap">

        <!--智能灯-->
         <div id="led" class="led">
         <div id="ledbg" class="ledbg led-off">
            <div class="title">
                <img src="img/led-title.png" />
            </div>

            
            <div id="controlbar" class="controlbar">
            	<div class="bg"></div>
            	<a id="ledon" class="on" >开启</a>
                <a id="ledoff" class="off hide">关闭</a>
                <a id="red" class="ledcolor red">红</a>
                <a id="orange" class="ledcolor orange">橙</a>
                <a id="yellow" class="ledcolor yellow">黄</a>
                <a id="blue" class="ledcolor blue">蓝</a>
                <a id="purple" class="ledcolor purple">紫</a>
                <a id="white" class="ledcolor white">白</a>
            </div>
        </div>
        </div>
    </div>
<script type="text/javascript">

	document.getElementById("ledon").addEventListener("touchstart", function(e){ e.preventDefault(); setLedOn(1); });
	document.getElementById("ledoff").addEventListener("touchstart", function(e){ e.preventDefault(); setLedOn(0); });	
	
	document.getElementById("red").addEventListener("touchstart", function(e){ e.preventDefault(); setLed('red'); });		
	document.getElementById("orange").addEventListener("touchstart", function(e){ e.preventDefault(); setLed('orange'); });		
	document.getElementById("yellow").addEventListener("touchstart", function(e){ e.preventDefault(); setLed('yellow'); });		
	document.getElementById("blue").addEventListener("touchstart", function(e){ e.preventDefault(); setLed('blue'); });	
	document.getElementById("purple").addEventListener("touchstart", function(e){ e.preventDefault(); setLed('purple'); });		
	document.getElementById("white").addEventListener("touchstart", function(e){ e.preventDefault(); setLed('white'); });	
	
//---------------------------------------------UP实际灯泡设备的颜色和开关------------------------------------------------------------------	
	function ledControl(key){
		var params={
			key:key
		};
		$.ajax({
			type:"POST",
			url:"/led/control",
			data:params,
			success:function(data){
				//alert("success!");
			},
			error:function(){
				//alert("fail!");
			}
		});
	}
//---------------------------------------------DOWN控制页面灯的颜色样式和开关---------------------------------------------------
	var bLed = 0;
	var ledcolor = "yellow";
	//灯的开关
    function setLedOn(bTvOn){ 
       if(bTvOn == 1){
		   //开灯
		   ledControl("on");
		   
           bLed = 1;
		   $('#ledbg').removeClass("led-off");	
		   setLed(ledcolor);
		   $('#ledon').hide();
		   $('#ledoff').show();

       }else{
           bLed = 0;
		   clearHover();
		   $('#ledbg').removeClass();	
		   $('#ledbg').addClass("ledbg led-off");	
		   $('#ledon').show();
		   $('#ledoff').hide();	
		   //关灯
		   ledControl("off");
       }
    }   

	//改变灯的颜色
    function setLed(color){
		if(bLed == 1){
            ledcolor = color;
			$('#ledbg').removeClass();
			$('#ledbg').addClass("ledbg led-" + color);
			clearHover();
			$("#"+color).addClass(color+"hover");
			//变色
			ledControl(color);
		}
    }
	function clearHover(){
		$("#red").removeClass("redhover");	
		$("#orange").removeClass("orangehover");	
		$("#yellow").removeClass("yellowhover");	
		$("#blue").removeClass("bluehover");	
		$("#purple").removeClass("purplehover");	
		$("#white").removeClass("whitehover");
	}
	
</script>
</body>
</html>